/* All pages */

#logo{
    height: 90%;
    margin-top: 4px;
}
  
/* body, html {
    height: 100%;
  } */

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
background-image: url("https://images.unsplash.com/photo-1470294402047-fc1b5f39bd99?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1354&q=80");
background-repeat: no-repeat;
background-position: center;
background-size: 2108.43px 1400px;
opacity:0.85;
color: white;
}

.page-footer {
    padding-top: 0px !important;
}

.carousel{
    margin-bottom: 20px;
}
.credit{
    padding: 2px 10px;
    background-color: rgba(128, 128, 128, 0.753) ;
    display: inline;
}
#mainP{
    padding-left: 50px;
    padding-right: 50px;
}
.inputRow{
    padding-left: 150px;
}
#suburbInput{
    margin-top: 25px;
}

#checkBoxes{
    margin-left: 180px;
}
#submitBtn{
    position: relative;
    margin-bottom: 70px;
}
#saveBtn{
    margin-bottom: 20px;
}
#showRow{
    margin-left: 10px;  
    margin-right: 10px;
}
#category{
    margin-right: 10px;
}
#checkCol{
    font-size: medium;
}

.progress{
    position: relative;
   
}

/* Favourites page */

#favLoginTitle{
    margin-top: 30px;
}
#loginBtn{
    margin-bottom: 20px;
}

i.fas{
    color: #ff8a65;
}
#clearBtn{
    margin-bottom: 20px;
    background-color: #f44336;

}

/* About Us page */


/* About Us Paragraph */
.aboutUs{
    margin: auto;
    margin-top: 20%;
    width: 50%;
    font-size: x-large;
}


/* Style for the cards-places */

i.fas{
    color: #ff8a65;
}

.card-image img{
    width: 100%;
    height: 140px;
}

.card-content{
    max-height: 100% !important;
}

.card-title {
    margin-bottom: 20px !important;
}

.placeDetails {
    margin-top: 10px;
    margin-bottom: 10px;
}


.fa{
    float: right;
}
.fa-star{
    color: gold;
}

/* Media Queries */

@media only screen and (max-width: 990px) {
    .inputRow{
        padding-left: 80px;
    }
    #checkBoxes{
        margin-left: 80px;
    }
    #radius{
        margin-left: 50px;
      
    }  
    #favForm{
        margin-left: 175px;
    }
 
    .aboutUs{
        width: 80%;
    }
   
}
@media only screen and (max-width: 680px) {
    #favForm{
        margin-left: 50px;
    }

}
@media only screen and (max-width: 595px) {
    .inputRow{
        padding-left: 50px;
    }
    #checkBoxes{
        margin-left: 100px;
    }
    #radius{
        margin-left: 0px;
    }
    #flindersStreet 
    {
        max-width: auto;
    }

    #favForm{
        margin-left: 10px;
    }
    .aboutUs{
        margin-top: 28%;
    }

}
@media only screen and (max-width: 420px) {
    
    .inputRow{
        padding-left: 0px;
    }
    #checkBoxes{
        margin-left: 110px;
    }
    #checkCol{
        margin-bottom: 0px;
    }
    #radius{
        margin-left: 0px;
    }
    #mainP{
        padding-left: 20px;
        padding-right: 20px;
    }

    .aboutUs{
        width: 90%;
        margin-top: 35%;
    }

    
}


