
.brand-logo{
    padding-left: 20px !important;
    font-size: x-large;
    font-weight: 600;
}
.carousel{
    max-height: 500px;
    margin-bottom: 20px;
}
.credit{
    padding: 2px 10px;
    background-color: rgba(128, 128, 128, 0.753) ;
    display: inline;
}
.inputRow{
    padding-left: 150px;
}

#radiusTitle{
    margin-top: 20px;
}
#checkBoxes{
    margin-left: 180px;
}
.btn{
    align-items: center;
}